<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cat Facts</title>
    <style>
        #footer {
            position: fixed;
            padding: 10px 10px 0px 10px;
            bottom: 0;
            width: 100%;
            /* Height of the footer*/ 
            height: 30px;
            text-align: center;
        }
        
    </style>
</head>
<body>

    <DIV>
        <STRONg><H1>Cat Facts</H1></STRONg>
    </DIV>

    <div>
        Click below to get a random Fact about chats
        <br>
        <P><font size="5"></font></P>
        <form action="#" method="post" align="center">
            <input type="submit" name="type" value="Random Fact">

            
        </form>
    </div>

    {% block ERR %}

    {% endblock %}

    {% block output %}

    {% endblock %}




    <div id="footer">
        Made with ♥ By Kushaagra
    </div id="footer">
</body>
</body>
</html>