<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h2>Projects</h2>

    <font size="5">Random Info Generator</font>: <a href="/infogen" align="right">HERE</a><br>
    <font size="5">NUM-PASS Extractor</font>: <a href="/numpass-extractor">HERE</a><br>
    <font size="5">MAIL-PASS Extractor</font>: <a href="/mailpass-extractor">HERE</a><br>
    <font size="5">Activity Suggestor</font>: <a href="/activity-suggestor">HERE</a><br>
    <font size="5">Information From Your Name</font>: <a href="/nameinfo">HERE</a><br>
    <font size="5">Bin-Lookup</font>: <a href="/bin-lookup">HERE</a><br>
    <font size="5">Dictionary</font>: <a href="/dict">HERE</a><br>
    <font size="5">IP Info</font>: <a href="/ipaddr">HERE</a><br>
    <font size="5">Jokes {Incomplete}</font>: <a href="/jokes">HERE</a><br>
    <font size="5">Cat Facts</font>: <a href="/cats">HERE</a><br>
    <font size="5">Quotes</font>: <a href="/quotes">HERE</a><br>
    <font size="5">Trivia</font>: <a href="/trivia">HERE</a><br>
    <font size="5">Synonyms And Antonyms</font>: <a href="/synant">HERE</a><br>
    <font size="5">Riddles</font>: <a href="/riddles">HERE</a><br>
    <font size="5">World Time</font>: <a href="/worldtime">HERE</a><br>
    <font size="5">Coming Soon....</font>: <a href="/">HERE</a><br>

</body>
</html>