<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quotes</title>
    <style>
        #footer {
            position: fixed;
            padding: 10px 10px 0px 10px;
            bottom: 0;
            width: 100%;
            /* Height of the footer*/ 
            height: 30px;
            text-align: center;
        }
        
        input[type=submit] {
        background-color: #04AA6D;
        border: none;
        color: white;
        padding: 16px 32px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
        }
        
        
        
    </style>
</head>
<body>

    <DIV>
        <STRONg><H1>Quotes</H1></STRONg>
    </DIV>
    <div>
        <P><font size="5">Click a Category whose quote you want</font></P>
        <form action="#" method="post" align="center">
            <input type="submit" name="Type" value="age">
            <input type="submit" name="Type" value="alone">
            <input type="submit" name="Type" value="amazing">
            <input type="submit" name="Type" value="anger">
            <input type="submit" name="Type" value="architecture">
            <input type="submit" name="Type" value="art">
            <input type="submit" name="Type" value="attitude">
            <input type="submit" name="Type" value="beauty">
            <input type="submit" name="Type" value="best">
            <br>
            <input type="submit" name="Type" value="birthday">
            <input type="submit" name="Type" value="business">
            <input type="submit" name="Type" value="car">
            <input type="submit" name="Type" value="change">
            <input type="submit" name="Type" value="communications">
            <input type="submit" name="Type" value="computers">
            <input type="submit" name="Type" value="cool">
            <input type="submit" name="Type" value="courage">
            <input type="submit" name="Type" value="dad">
            <input type="submit" name="Type" value="dating">
            <input type="submit" name="Type" value="death">
            <br>
            <input type="submit" name="Type" value="design">
            <input type="submit" name="Type" value="dreams">
            <input type="submit" name="Type" value="education">
            <input type="submit" name="Type" value="environmental">
            <input type="submit" name="Type" value="equality">
            <input type="submit" name="Type" value="experience">
            <input type="submit" name="Type" value="failure">
            <input type="submit" name="Type" value="faith">
            <input type="submit" name="Type" value="family">
            <input type="submit" name="Type" value="famous">
            <br>
            <input type="submit" name="Type" value="fear">
            <input type="submit" name="Type" value="fitness">
            <input type="submit" name="Type" value="food">
            <input type="submit" name="Type" value="forgiveness">
            <input type="submit" name="Type" value="freedom">
            <input type="submit" name="Type" value="friendship">
            <input type="submit" name="Type" value="funny">
            <input type="submit" name="Type" value="future">
            <input type="submit" name="Type" value="god">
            <input type="submit" name="Type" value="good">
            <input type="submit" name="Type" value="government">
            <br>
            <input type="submit" name="Type" value="graduation">
            <input type="submit" name="Type" value="great">
            <input type="submit" name="Type" value="happiness">
            <input type="submit" name="Type" value="health">
            <input type="submit" name="Type" value="history">
            <input type="submit" name="Type" value="home">
            <input type="submit" name="Type" value="hope">
            <input type="submit" name="Type" value="humor">
            <input type="submit" name="Type" value="imagination">
            <input type="submit" name="Type" value="inspirational">
            <br>
            <input type="submit" name="Type" value="intelligence">
            <input type="submit" name="Type" value="jealousy">
            <input type="submit" name="Type" value="knowledge">
            <input type="submit" name="Type" value="leadership">
            <input type="submit" name="Type" value="learning">
            <input type="submit" name="Type" value="legal">
            <input type="submit" name="Type" value="life">
            <input type="submit" name="Type" value="love">
            <br>
            <input type="submit" name="Type" value="marriage">
            <input type="submit" name="Type" value="medical">
            <input type="submit" name="Type" value="men">
            <input type="submit" name="Type" value="mom">
            <input type="submit" name="Type" value="money">
            <input type="submit" name="Type" value="morning">
            <input type="submit" name="Type" value="movies">
            <input type="submit" name="Type" value="success">
            
        </form>
    </div>

    {% block ERR %}

    {% endblock %}

    {% block output %}

    {% endblock %}




    <div id="footer">
        Made with ♥ By Kushaagra
    </div id="footer">
</body>
</body>
</html>